<!-- Begin Slider With Banner Area -->
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-8 col-md-8">
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left  animation-style-01 bg-1">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-20% Off</span> This Week</h5>
                                <h2>Samsung Galaxy S9 | S9+</h2>
                                <h3>Starting at <span>$600.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="/products">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-2">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>Black Friday</span> This Week</h5>
                                <h2>Microsoft Surface Studio 2 (Studio 2018)</h2>
                                <h3>Starting at <span>$1300.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="/products">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-3">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-10% Off</span> This Week</h5>
                                <h2>iMac 2021 M1 24"</h2>
                                <h3>Starting at <span>$1249.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="/products">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <!-- Begin Li Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="li-banner">
                    <a href="#">
                        <img src="images/banner/1_1.jpg" alt="">
                    </a>
                </div>
                <div class="li-banner mt-15 mt-sm-30 mt-xs-30">
                    <a href="#">
                        <img src="images/banner/1_2.jpg" alt="">
                    </a>
                </div>
            </div>
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Slider With Banner Area End Here -->
<!-- Begin Product Area -->
<div class="product-area pt-60 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                        <li><a class="active" data-toggle="tab" href="#li-bestseller-product"><span>Best sellers</span></a></li>
                        <li><a data-toggle="tab" href="#li-new-product"><span>Best viewers</span></a></li>
                    </ul>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
            </div>
        </div>
        <div class="tab-content">
            <div id="li-bestseller-product" class="tab-pane active show" role="tabpanel">
                <div class="row">
                    <div class="product-active owl-carousel">
                        {{#each bestSellers}}
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="/products/id/{{_id}}">
                                            <img src="{{images.[0]}}" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="/products/id/{{_id}}">{{productType}}</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                                <div style="font-size: 13px">
                                                    <i class="fa fa-eye"></i><a > {{viewCounts}} &nbsp;</a>
                                                    <i class="fa fa-check-circle"></i><a> {{buyCounts}}</a>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="/products/id/{{_id}}">{{name}}</a></h4>
                                            <div class="price-box">
                                                <span class="new-price">{{price}} $</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                {{!-- <li class="add-cart active"> <a id='add-to-cart-btn' class="add-to-cart" >Add to cart</a></li> --}}
                                                <div class="buttons"> <button class="cart-button" product_id={{_id}} user_id={{../user._id}} onclick="const user_id=$(this).attr('user_id');  $.post( `/api/${user_id}/addItem`,
  {
    productId: $(this).attr('product_id'),
    quantity:1,
  })

  "> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div id="li-new-product" class="tab-pane" role="tabpanel">
                <div class="row">
                    <div class="product-active owl-carousel">
                        {{#each bestViewers}}
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="/products/id/{{_id}}">
                                            <img src="{{images.[0]}}" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="/products/id/{{_id}}">{{productType}}</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                                <div style="font-size: 13px">
                                                    <i class="fa fa-eye"></i><a > {{viewCounts}} &nbsp;</a>
                                                    <i class="fa fa-check-circle"></i><a> {{buyCounts}}</a>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="/products/id/{{_id}}">{{name}}</a></h4>
                                            <div class="price-box">
                                                <span class="new-price">{{price}} $</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                {{!-- <li class="add-cart active"> <a id='add-to-cart-btn' class="add-to-cart" >Add to cart</a></li> --}}
                                                <div class="buttons"> <button class="cart-button" product_id={{_id}} user_id={{../user._id}} onclick="const user_id=$(this).attr('user_id');  $.post( `/api/${user_id}/addItem`,
  {
    productId: $(this).attr('product_id'),
    quantity:1,
  })

  "> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center">
                <div class="single-banner">
                    <a href="#">
                        <img src="images/banner/1_3.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="single-banner">
                    <a href="#">
                        <img src="images/banner/1_4.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="single-banner">
                    <a href="#">
                        <img src="images/banner/1_5.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Static Banner Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2><span>Laptop</span></h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        {{#each laptops}}
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="/products/id/{{_id}}">
                                            <img src="{{images.[0]}}" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="/products/id/{{_id}}">{{productType}}</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                                <div style="font-size: 13px">
                                                    <i class="fa fa-eye"></i><a > {{viewCounts}} &nbsp;</a>
                                                    <i class="fa fa-check-circle"></i><a> {{buyCounts}}</a>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="/products/id/{{_id}}">{{name}}</a></h4>
                                            <div class="price-box">
                                                <span class="new-price">{{price}} $</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                {{!-- <li class="add-cart active"> <a id='add-to-cart-btn' class="add-to-cart" >Add to cart</a></li> --}}
                                                <div class="buttons"> <button class="cart-button" product_id={{_id}} user_id={{../user._id}} onclick="const user_id=$(this).attr('user_id');  $.post( `/api/${user_id}/addItem`,
  {
    productId: $(this).attr('product_id'),
    quantity:1,
  })

  "> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Laptop Product Area End Here -->

<!-- Begin Li's Smartphone Product Area -->
<section class="product-area li-laptop-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2><span>Smartphone</span></h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        {{#each smartphones}}
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="/products/id/{{_id}}">
                                            <img src="{{images.[0]}}" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="/products/id/{{_id}}">{{productType}}</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                                <div style="font-size: 13px">
                                                    <i class="fa fa-eye"></i><a > {{viewCounts}} &nbsp;</a>
                                                    <i class="fa fa-check-circle"></i><a> {{buyCounts}}</a>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="/products/id/{{_id}}">{{name}}</a></h4>
                                            <div class="price-box">
                                                <span class="new-price">{{price}} $</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                {{!-- <li class="add-cart active"> <a id='add-to-cart-btn' class="add-to-cart" >Add to cart</a></li> --}}
                                                <div class="buttons"> <button class="cart-button" product_id={{_id}} user_id={{../user._id}} onclick="const user_id=$(this).attr('user_id');  $.post( `/api/${user_id}/addItem`,
  {
    productId: $(this).attr('product_id'),
    quantity:1,
  })

  "> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Smartphone Product Area End Here -->

<!-- Begin Li's Tablet Product Area -->
<section class="product-area li-laptop-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2><span>Tablet</span></h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        {{#each tablets}}
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="/products/id/{{_id}}">
                                            <img src="{{images.[0]}}" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="/products/id/{{_id}}">{{productType}}</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                                <div style="font-size: 13px">
                                                    <i class="fa fa-eye"></i><a > {{viewCounts}} &nbsp;</a>
                                                    <i class="fa fa-check-circle"></i><a> {{buyCounts}}</a>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="/products/id/{{_id}}">{{name}}</a></h4>
                                            <div class="price-box">
                                                <span class="new-price">{{price}} $</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                {{!-- <li class="add-cart active"> <a id='add-to-cart-btn' class="add-to-cart" >Add to cart</a></li> --}}
                                                <div class="buttons"> <button class="cart-button" product_id={{_id}} user_id={{../user._id}} onclick="const user_id=$(this).attr('user_id');  $.post( `/api/${user_id}/addItem`,
  {
    productId: $(this).attr('product_id'),
    quantity:1,
  })

  "> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Laptop Tablet Area End Here -->

<!-- Begin Li's Tv Product Area -->
<section class="product-area li-laptop-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2><span>Tv</span></h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        {{#each tvs}}
                            <div class="col-lg-12">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap">
                                    <div class="product-image">
                                        <a href="/products/id/{{_id}}">
                                            <img src="{{images.[0]}}" alt="Li's Product Image">
                                        </a>
                                        <span class="sticker">New</span>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            <div class="product-review">
                                                <h5 class="manufacturer">
                                                    <a href="/products/id/{{_id}}">{{productType}}</a>
                                                </h5>
                                                <div class="rating-box">
                                                    <ul class="rating">
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                                <div style="font-size: 13px">
                                                    <i class="fa fa-eye"></i><a > {{viewCounts}} &nbsp;</a>
                                                    <i class="fa fa-check-circle"></i><a> {{buyCounts}}</a>
                                                </div>
                                            </div>
                                            <h4><a class="product_name" href="/products/id/{{_id}}">{{name}}</a></h4>
                                            <div class="price-box">
                                                <span class="new-price">{{price}} $</span>
                                            </div>
                                        </div>
                                        <div class="add-actions">
                                            <ul class="add-actions-link">
                                                {{!-- <li class="add-cart active"> <a id='add-to-cart-btn' class="add-to-cart" >Add to cart</a></li> --}}
                                                <div class="buttons"> <button class="cart-button" product_id={{_id}} user_id={{../user._id}} onclick="const user_id=$(this).attr('user_id');  $.post( `/api/${user_id}/addItem`,
  {
    productId: $(this).attr('product_id'),
    quantity:1,
  })

  "> <span class="add-to-cart">Add to cart</span> <span class="added">Item added</span> <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i> </button> </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Tv Product Area End Here -->